/.bundle/
/doc/
/log/*.log
/pkg/
/tmp/
/storage
/test/dummy/log/
/test/dummy/pkg/
/test/dummy/tmp/
/test/dummy/storage
/test/dummy/db/log_schema.rb
/test/dummy/db/log_migrate/
/test/dummy/config/initializers/solid_log.rb
!/**/.keep
