<%# Toast notification component
  Shows a temporary notification message
  Auto-dismisses after a few seconds
%>
<div id="toast-container" class="toast-container">
  <!-- Toasts will be inserted here dynamically -->
</div>
